@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.wrapper {
	display : inline-block;
}
#submitbtn {
	margin : 2%;
}

#heading {
	font-size : 2rem;
	font-family: 'Inconsolata';
}

input[ name = "notification" ] {
	width : 500px;
	height : 200px;
}

#notification {
	width : 500px;
	height : 200px;
	
}