<!DOCTYPE html>
<html>
<head>
	<title>Notification</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/style.css')}}">
	<style type="text/css">
		@import url('https://fonts.googleapis.com/css?family=Inconsolata');
		@import url('https://fonts.googleapis.com/css?family=Quicksand');
		#heading {
			font-family : 'Inconsolata', monospace;
		}
		#notification {
			width : 500px;
			height : 100px;
		}
	</style>
	<script type="text/javascript" src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<form action = "{{url_for('mass')}}" method = "POST" class = "container" id = "notificationform">
	<div class = "jumbotron">
	<h1 id = "heading">SVNIT notification system.</h1>
	<input type="text" name="notification" placeholder = "Your notification here." id = "notification"><br><br>
		<div class = "wrapper">
			<select name = "dropdown-branch">
				<option value = "all">All</option>
				<option value = "co">Computer</option>
				<option value = "ec">Electronics</option>
				<option value = "ee">Electrical</option>
				<option value = "ch">Chemical</option>
				<option value = "ce">Civil</option>
				<option value = "me">Mechanical</option>
				<option value = "ma">Applied maths and humanities</option>
				<option value = "ph">Applied physics</option>
				<option value = "cy">Applied chemistry</option>
				<option value = "p">Mtech</option>
			</select>
			<select name = "dropdown-year">
				<option value = "all">All</option>
				<option name = "years" value = "16">1st</option>
				<option name = "years" value = "15">2nd</option>
				<option name = "years" value = "14">3rd</option>
				<option name = "years" value = "13">4th</option>
				<option name = "years" value = "12">5th</option>
			</select>
		</div><br>
		<button type = "submit" class = "btn btn-primary" id = "submitbtn">Send</button>
	</div>
	</form>
</body>
</html>